@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700;800&display=swap');
/* font-family: 'Cinzel', serif; */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');
/* font-family: 'EB Garamond', serif; */

:root {
	--primary-font: 'Cinzel', serif;
	--secondary-font: 'EB Garamond', serif;
	--main-color: #b61919;
	--main-header-color: #fdd2bf;
	--main-accent-color: #ff6b6b;
	--main-bg-color: #fff6f2;
	--short-color: #539500;
	--short-header-color: #d7fdbf;
	--short-bg-color: #fafff2;
	--long-color: #0094ff;
	--long-header-color: #bfdffd;
	--long-bg-color: #f2fdff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: var(--primary-font);
	width: 100%;
}

html,
body {
	min-height: 100vh;
}

.logo {
	font-weight: bold;
	font-size: 1.5rem;
	line-height: normal;
	color: inherit;
	text-decoration: none;
}

// time setting
.time-setting {
	h2 {
		color: #000 !important;
		font-size: 1.5rem;
	}

	.time-options {
		position: relative;
		width: 80%;
		margin: 2rem auto 4rem;
		display: grid;
		grid-template: auto / 1fr 1fr;
		align-items: center;
		justify-items: center;
		gap: 1rem;

		div {
			text-align: center;
			border-radius: 0.5rem;

			&.selected {
				font-weight: bold;

				input[type='number'],
				input[type='number']::placeholder {
					font-weight: bold;
				}
			}

			input[type='radio'] {
				display: none;
			}

			label {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 3rem;
				font-size: 1.5rem;

				span {
					width: auto;
					margin-left: 0.2rem;
					font-size: 1rem;
				}

				input[type='number'] {
					height: 100%;
					border: none;
					border-radius: 0.5rem;
					text-align: center;
					font-size: 1.5rem;
					background-color: transparent;
					outline: none;

					&::placeholder {
						text-align: center;
						font-size: 1.2rem;
					}
				}
			}
		}
	}
}

// switch time options color
.time-options.focus {
	div {
		border: 1px solid var(--main-accent-color);

		&.selected {
			background-color: var(--main-accent-color);
			color: var(--main-bg-color);

			input[type='number'],
			input[type='number']::placeholder {
				color: var(--main-bg-color);
			}
		}
	}
}

.time-options.short {
	div {
		border: 1px solid var(--short-color);

		&.selected {
			background-color: var(--short-color);
			color: var(--short-bg-color);

			input[type='number'],
			input[type='number']::placeholder {
				color: var(--short-bg-color);
			}
		}
	}
}

.time-options.long {
	div {
		border: 1px solid var(--long-color);

		&.selected {
			background-color: var(--long-color);
			color: var(--long-bg-color);

			input[type='number'],
			input[type='number']::placeholder {
				color: var(--long-bg-color);
			}
		}
	}
}

.error-message {
	position: absolute;
	border: none !important;
	width: 100px;
	right: 1rem;
	bottom: -3.5rem;
	color: red;
	font-weight: bold;
	font-size: 1.2rem;
}

// bgm setting
.bgm-setting {
	position: relative;
	margin-bottom: 3rem;

	h2 {
		color: #000 !important;
		font-size: 1.5rem;
	}

	select,
	input[type='text'] {
		display: block;
		width: 80%;
		height: 3rem;
		margin: 1.5rem auto;
		border-radius: 0.5rem;
		padding: 0.1rem 0.5rem;
		font-size: 1.5rem;
		outline: none;
		background-color: transparent;
	}

	.error-message {
		width: auto;
		left: 0;
		bottom: -0.5rem;
		text-align: center;
	}
}

// switch bgm setting color
.bgm-setting.focus {
	select,
	input[type='text'] {
		border: 1px solid var(--main-accent-color);
	}

	select.selected {
		background-color: var(--main-accent-color);
		color: var(--main-bg-color);
		font-weight: bold;
	}
}

.bgm-setting.short {
	select,
	input[type='text'] {
		border: 1px solid var(--short-color);
	}

	select.selected {
		background-color: var(--short-color);
		color: var(--short-bg-color);
		font-weight: bold;
	}
}

.bgm-setting.long {
	select,
	input[type='text'] {
		border: 1px solid var(--long-color);
	}

	select.selected {
		background-color: var(--long-color);
		color: var(--long-bg-color);
		font-weight: bold;
	}
}

// shown and hide class
.shown {
	display: block;
}

.hidden {
	display: none !important;
}

// buttons for a timer
.buttons {
	display: flex;
	justify-content: center;
	margin: 2rem auto;
	gap: 2rem;
}

.back-to-set {
	font-size: 1.5rem;
	width: auto;
	text-decoration: none;
	display: flex;
	align-items: center;
	color: #000;
	margin-bottom: 2rem;
}

.MuiSlider-valueLabel {
	width: auto;
}
